<div class="card border border-light card-teaser flex-nowrap shadow p-4">
  <svg class="icon">
    <use href="#it-clip" />
  </svg>
  <div class="card-body">
    <h5 class="card-title mb-0">{{ content.field_media_document }}</h5>
  </div>
</div>