<div class="card card-teaser shadow p-4">
  <div class="card-body">
    <h5 class="card-title">{{ label }}</h5>
    <div class="card-text">
      {{ content.field_punto_di_contatto }}
    </div>
  </div>
  {# TODO: take avatar from persona field #}
  <div class="avatar size-xl">
    <img src="https://randomuser.me/api/portraits/men/{{ random(100) }}.jpg" alt="Carlo Poli">
  </div>
</div>