<div class="col">
  <div class="card card-teaser white-bg shadow-sm rounded border border-light h-100">
    <div class="card-body">
      <h3 class="card-title text-paragraph-medium mb-3"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}" data-element="service-area">{{ label }}</a></h3>
      <div class="card-text u-main-black">
        <div class="mt-1"><p>{{ content.field_descrizione_breve }}</p></div>
      </div>
    </div>
  </div>
</div>