{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            {{ content }}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
