{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="input-group">
  <label for="autocomplete-autocomplete-three" class="visually-hidden">cerca</label>
  <input type="text" class="autocomplete form-control" placeholder="Cerca per parola chiave"
         id="autocomplete-autocomplete-three" name="search_api_fulltext" data-bs-autocomplete="[]">

  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" id="button-3">Invio</button>
  </div>

  <span class="autocomplete-icon" aria-hidden="true">
    <svg class="icon icon-sm icon-primary">
      <use href="#it-search" />
    </svg>
  </span>
</div>
