<div class="card white-bg shadow-sm rounded border border-light h-100">
  <div class="card-body">
    <a href="{{ url }}" class="text-decoration-none">
      <h3 class="card-title t-primary title-xlarge">
        {{ name[0] }}
      </h3>
    </a>
    <div class="titillium text-paragraph mb-0">
      {% if content.description %}
        <div class="text-paragraph-card u-grey-light m-0">
          {{ content.description }}
        </div>
      {% endif %}
    </div>
    <div class="mt-4">
      {{ drupal_view('elenco_chip_termini_da_un_termine', 'default', term.bundle, term.id) }}
    </div>
  </div>
</div>