<a class="text-decoration-none text-nowrap d-inline-block" href="{{ url }}" data-element="service-category-link" data-focus-mouse="false">
  <div class="chip chip-simple chip-primary">
    <span class="chip-label">{{ name[0] }}</span>
  </div>
</a>
