{% for item in items %}
  {% set item_name = item.content['#media'].name.value %}
  {% if item.content['#media'].field_media_file[0].description is not empty %}
    {% set item_name = item.content['#media'].field_media_file[0].description %}
  {% endif %}
  <div class="cmp-icon-link">
    <a href="{{ file_url(item.content['#media'].field_media_file.entity.fileuri) }}"
      class="list-item icon-left d-inline-block"
      aria-label="Scarica {{ item_name }}" title="Scarica {{ item_name }}"
      data-element="service-file"
    >
      <span class="list-item-title-icon-wrapper">
        <svg class="icon icon-primary icon-sm me-1">
          <use href="#it-clip" />
        </svg>
        <span class="list-item t-primary">{{ item_name }}</span>
      </span>
    </a>
  </div>
{% endfor %}