{% for item in items %}
  {% set item_name = item.content['#media'].name.value %}
  {% if item.content['#media'].field_media_file[0].description is not empty %}
    {% set item_name = item.content['#media'].field_media_file[0].description %}
  {% endif %}
  <div class="cmp-icon-link">
    <a href="{{ file_url(item.content['#media'].field_media_file.entity.fileuri) }}"
      class="list-item icon-left d-inline-block"
      aria-label="Scarica {{ item_name }}" title="Scarica {{ item_name }}"
      data-element="service-file"
    >
      <span class="list-item-title-icon-wrapper">
        <svg viewBox="0 0 24 24" id="it-clip" class="icon icon-primary icon-sm me-1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M11 22a2.9 2.9 0 01-3-3V6a4 4 0 018 0v10h-1V6a3 3 0 00-6 0v13a2 2 0 004 0V8a1 1 0 00-2 0v8h-1V8a2 2 0 014 0v11a2.9 2.9 0 01-3 3z"/>
          <path fill="none" d="M0 0h24v24H0z"/>
        </svg>
        <span class="list-item t-primary">{{ item_name }}</span>
      </span>
    </a>
  </div>
{% endfor %}